$red: rgba(241,100,93,1);

$white: rgba(250,250,250,1);
$grey: rgba(20,20,20,1);


$deeppurple: rgba(71,56,153,1);
$gold: rgba(255,229,82,1);
$magenta: rgba(231,100,130,1);
$black: rgba(20,20,20,1);
$blue: rgba(76,130,204,1);
$transparentwhite: rgba(250,250,250,0.5);


$montserrat: 'Montserrat', sans-serif;
$comic-sans: 'Comic Sans MS';
$lato: 'Lato', sans-serif;
