body {
	padding: 50px;
	font: 14px "Comic Sans MS", "LDFComicSans"; src: url('/../assets/LDFComicSans.ttf');
	background-color: #ffe552;
}

a {
	color: #00B7FF;
}

a:hover {
	color: magenta;
}

.doge, .sad-doge {
    width:600px;
}

.doge.nav {
	width: 300px;
}

h3 {
	color: #000000;
	text-transform: uppercase;

}

.user-column {
	float: left;
	text-align: center;
	width: 48%;
	background-color: #FFF5BF;
	border-radius: 10px;

}

.content-column {
	float: right;
	text-align: center;
	width: 48%;
	min-height: 500px;
	background-color: #FFF5BF;
	border-radius: 10px;
}

.puzzlepart {
	padding: 10px 5px;
	margin: 20px 20px;
	background-color: #FFFCE8;
	border-radius: 10px;
}