body {
	padding: 50px;
	font: 14px "Comic Sans MS", "LDFComicSans"; src: url('/../assets/LDFComicSans.ttf');
	background-color: #ffe552;
}

a {
	color: #00B7FF;
}

a:hover {
	color: magenta;
}

.doge, .sad-doge {
    width:600px;
}

.doge.nav {
	width: 300px;
}

h3 {
	color: #000000;

}

.user-column {
	float: left;
	text-align: center;
	width: 48%;
	background-color: #FFF5BF;
	border-radius: 10%;

}

.content-column {
	float: right;
	text-align: center;
	width: 48%;
	background-color: #FFF5BF;
	border-radius: 10%;
}

.puzzlepart {
	padding: 5px 5px;
}