extends adminLayout
block head
    style.
        .puzzleStat {
            display: inline-block;
            margin-right: 40px;
            text-align: center;
        }
        .count {
            font-size:24px;
        }
block content
    a(href="/admin/users") View all Users
    div.puzzleStats
        for puzzle in stats
            div.puzzleStat
                h2 Puzzle #{puzzle._id + 1}
                h4 Users reached
                span.count= puzzle.count


