extends layout
block head
block content
    .user-column
        h1 What's up #{currentUser}
        img(src="/assets/doge.png").doge.nav
        div.logout
            button#logout Leave??
    .content-column
        div#error
        if puzzleParts.length == 0
            script
                include ./js/create-puzzle.js
            form
                button#start-button Start Puzzle!
        else
            if done
                script
                    include ./js/update-email.js
                h2.congrats YAY YOU FINISHED THE PUZZLE! very solve much impress
                form
                    input(type="email", value=userEmail, name="email")
                    br
                button#update-email Submit your email to let doge know who helped him!
                div#feedback
            else
                script
                    include ./js/make-guess.js
            for p in puzzleParts
                mixin puzzlePart(p)
        include puzzlePart