doctype html
head
    style.
        body {
          padding: 50px;
          font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        }

        a {
          color: #00B7FF;
        }
        th {
            text-align: left;
        }

        td, th {
            padding: 5px;
        }

        table {
            border-collapse: collapse;
            counter-reset: rowNumber;
        }

        table, th, td {
            border: 1px solid black;
        }

        table tr:not(:first-child) {
            counter-increment: rowNumber;
        }

        table tr td:first-child::before {
            content: counter(rowNumber);
            min-width: 1em;
            margin-right: 0.5em;
        }

        .suspicious {
            color: red;
        }
body
    h2 All users
    table
        tr
            th Username
            th Completion Time
        for user in users
            tr
                td
                    if user.isSuspicious
                        a(href="/admin/users/#{user.githubUsername}").suspicious= user.githubUsername
                    else
                        a(href="/admin/users/#{user.githubUsername}")= user.githubUsername
                td= user.completionTime