doctype html
html
  head
    title Join the #{community} community on Slack!
    style.
      body {
        padding: 50px;
        font: 14px "Comic Sans MS", sans-serif;
        background-color: yellow;
      }
      input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      input[type=text]{
        width: 200px;
        border: 1px solid black;
        padding: 2px;
        margin: 2px;
        font: 14px "Comic Sans MS", sans-serif;
      }
      input[type=submit]{
        font-family: "Comic Sans MS", sans-serif !important;
        border: 1px solid black;
        height: 25px;
        margin: 2px;
        background-color: red;
      }
  body
    h1 #{community} #{result}
    p #{msg}
